body{
    background-color:antiquewhite;
    
}

h2{
    color:red;
}
h1{
    color:black;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(255, 106, 0);
}
.Aboutus{
    color:brown
}
.click{
    color:blue;
}
.des{
    border: 5px solid rgb(7, 4, 4);
    padding:10px;
    background-color: rgb(87, 19, 46);
    margin-bottom: 10px;
}
.ingr{
    border: 5px solid rgb(7, 4, 4);
    background-color: rgb(87, 19, 46);
    color:rgb(255, 106, 0);
    padding:10px;
    margin-bottom: 10px;
}
.dir{
    border: 5px solid rgb(7, 4, 4);
    background-color: rgb(87, 19, 46);
    color:rgb(255, 106, 0);
    padding:10px;
    margin-bottom: 10px;
}
